:root {
    --var1: #ffffff;
    --var2: #E3F2FD;
    --var3: #DB5461;
    --var4: #686963;
    --var5: #0B7A75;
    --body:#ffffff;
  }
body {
  overflow: hidden;

}

.b-example-divider {
  width: 100%;
  height: 10.5rem;
  background-color: rgba(0, 0, 0, 0.009);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 1px;
  box-shadow: inset 0 0.25em 0.5em rgba(0, 0, 0, 0.1),;
}



.eml, .eml img{
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.eml:hover{
  transform: translateY(-10px);
  cursor: pointer;
}


.eml:hover img{
  transform: rotate(-5deg) scale(1.25);
}
  

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 900;
  font-style: normal;
}
