{% extends 'main.html' %}
{% load static %}
{% block content%}

<video width="100%" class="name-image-before" autoplay muted loop playback="3">
  <source src="{% static 'videos/MachSim_Video_20231107_101540.mp4'%}" type="video/mp4">
Your browser does not support the video tag.
</video>

{% include 'EngineeringPage/section.html'%}


{% include 'EngineeringPage/me_overviw.html'%}
<div style="height: 10vh;"></div>
{% include 'EngineeringPage/setupSheet.html'%}
<div style="height: 10vh;"></div>
<!-- cnc machines -->
<div class="container">
  {% include 'EngineeringPage/cncMachinesOutter.html'%}
</div>


{% include 'components/footer.html'%}
{%endblock%}