{% extends 'main.html' %}
{% load static %}
{% block content%}

{% include 'EngineeringPage/setupSheet.html'%}
<div style="height: 10vh;"></div>


<video width="100%" class="name-image-before" autoplay muted loop playback="3">
  <source src="{% static 'videos/MachSim_Video_20231107_101540.mp4'%}" type="video/mp4">
Your browser does not support the video tag.
</video>

<div class="container-fluid py-5">
  <div style="height: 5vh;"></div>
  {% include 'EngineeringPage/section.html'%}
  <div style="height: 15vh;"></div>
</div>



<div class="container-fluid py-5 text-white" style="background-color: #330072;">
  <div style="height: 25vh;"></div>
  <div class="p-5 text-center rounded-3">
    <h1 class="display-5">Basic jumbotron</h1>
    <p class="lead">
      This is a simple Bootstrap jumbotron that sits within a <code>.container</code>, recreated with built-in utility classes.
    </p>
  </div>

  <div style="height: 25vh;"></div>
</div>
<div class="container" style="padding-bottom: 75px;">
  {% include 'EngineeringPage/me_overviw.html'%}
</div>

<!-- cnc machines -->
<div class="container">
  {% include 'EngineeringPage/cncMachinesOutter.html'%}
</div>


{% include 'components/footer.html'%}
{%endblock%}