{% load static %}

<div class="container my-5 mb-5 pt-5 pb-5">
    <div class="container px-5 row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Machine Simulation</h1>
        <p class="lead">This project aims to offer an immersive virtual experience of operating the <strong class="fw-bold">DMG EcoMill 50</strong> and <strong class="fw-bold">Matsuura HPlus 630</strong> CNC milling machines. Through this simulation, users can visualize and simulate machining processes without the need for physical setup.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <video class="w-100 h-100" autoplay muted>
            <source src="{% static 'videos/MachSim_Video_20231107_101241.mp4'%}" type="video/mp4">
          </video>
      </div>

      

   

    </div>    
  </div>