
<div class="offcanvas offcanvas-end rounded-2 shadow-lg-light m-3" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="back p-1">
        <div class="content rounded-2 w-100 h-100 text-dark bg-gradient bg-light" style="z-index: 10; background-size: cover;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Contact</h5>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
        </div>
        <div class="px-4 py-5 text-center">
          <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
          <div class="col mx-auto">
            <p class="fs-5 fw-bold mt-5 py-5">I'm always eager to collaborate on exciting projects or discuss opportunities</p>
            <p class="fs-4 fw-light mt-2 mb-4">Feel free to reach out to me</p>
            <div class="d-grid gap-2 mb-5 px-5">
              <a href="https://github.com/jayd719" type="button" class="btn btn-sm btn-dark rounded-5 px-5 py-3" target="_blank">Github</a>
              <a href="https://www.linkedin.com/in/jashansingh65/" type="button" class="btn btn-sm btn-dark rounded-5 px-5 py-3" target="_blank">Linkedin</a>
              <a href="mailto:jsingh0779@gmail.com" type="button" class="btn btn-sm btn-dark rounded-5 px-5 py-3">Mail</a>
            </div>
            <p class="mt-5 py-5 fw-bold fs-i">Thank you for visiting my portfolio! I look forward to connecting with you</p>
          </div>
        </div>
      </div>
    </div>
  </div>


 

  