{% extends 'main.html' %}
{% block content%}


<!-- divider -->

<div class="container-fluid">
    <div class="child">
        {% include 'components/secondCont.html'%}
    </div>

    <div class=" container child">
        {% include 'components/mainFeatures.html'%}
    </div>


    <div class="child">
        {% include 'components/hompage_thirdSection.html'%}
    </div>
</div>

<div class="div" style="height: 10vh;"></div>


{% include 'components/homepage_fourthSection.html'%}
{% include 'components/footer.html'%}



{%endblock%}