div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Exploring the Intersection of </h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 mt-2 p-1">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="{% static 'images/bigData.png' %}" width="210px">
        </div>
        <h3 class="fs-2 text-body-emphasis">Big Data</h3>
        <p class="text-justify">Here, I explore the latest trends, tools, and techniques in Big Data analytics, from distributed computing frameworks like Hadoop and Spark to advanced machine learning algorithms for data mining and pattern recognition.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="{% static 'images/bigData.png' %}" width="210px">
        </div>
        <h3 class="fs-2 text-body-emphasis">Computer Vision</h3>
        <p>Exploring from fundamental concepts like image processing and feature extraction to advanced topics such as object detection, image segmentation, and deep learning-based vision systems.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="{% static 'images/bigData.png' %}" width="210px">
        </div>
        <h3 class="fs-2 text-body-emphasis">CNC Machining</h3>
        <p>. Gain insights into quantitative finance models, high-frequency trading strategies, and the evolving landscape of fintech startups disrupting traditional financial services.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>