<style>
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
  .t1{
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0 2px 3px rgba(0,0,0,0.2);
  }
</style>
<div class="cover-container d-flex w-100 p-5 mx-auto flex-column pb-5 shadow-lg" style="height: 200vh; background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjl0OWh1YnA0aGh2c2RwZnoyMGhianJxdnF4NXdxOTl3NnJ6ODliZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7aCTfyhYawdOXcFW/giphy.gif'); background-size: cover; background-position: top; opacity: .9;">   
  <div class="container-fluid px-4 py-5 my-2 text-center h-100 ">
        <img class="d-block mx-auto mb-2" src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXIzNHlybnpwYWF5cTBqbGM4b3VyNndtcGZpcXlqZjBmOWE3cjhpbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26ufn24Onjz8w7NxS/giphy.gif" alt="" width="100" height="100">
        <h1 class="display-3 fw-bold text-body-emphasis mt-1 pt-1 t1 sticky-top">Welcome To My Corner of The Digital World!</h1>
        <div class="col-lg-8 mx-auto">
        </div>
      </div>

      {% include 'components/page2.html' %}
</div>
  

