<div class="container px-5 py-5" id="featured-3">
    <h1 class="display-5 fw-bold pb-2">How does Klarna work?</h1>
    <p class="lead">We partner with top retailers all over the world to make it easy to split your purchase into manageable payments. The first payment is made at the checkout and the remaining payments are collected every 2 weeks.</p>
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col px-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center mb-3">
          <img src="https://images.ctfassets.net/4pxjo1vaz7xk/sS0xgwUMdSl2WLvQwW1Sr/f59c6071942f9ebf25ce32ee932dbedc/snippet-pi4-ca-en-1x1__1_.jpg?w=3840&q=75" class="w-100 rounded-5" alt="">
        </div>
        <h3 class="fs-5 text-body-emphasis">At the checkout</h3>
        <p>Select the option to pay with Klarna and enter your payment information. There are no fees when payments are made on time. A higher initial payment may be required for some purchases.</p>
      </div>

      <div class="feature col px-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center mb-3">
          <img src="https://images.ctfassets.net/4pxjo1vaz7xk/MTY4NTAwMjg5MjI0Nzk/74b46b2f639145fa056bc6c700b65c9c/Landing-page-body-card2-snippet-Pi4-EN.jpg?w=3840&q=75" class="w-100 rounded-5" alt="">
        </div>
        <h3 class="fs-5 text-body-emphasis">When the order is shipped</h3>
        <p>Once your order is confirmed and on it’s way, we’ll charge the first installment. Once the payment has been processed you will receive a notification.</p>
      </div>

      <div class="feature col px-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center mb-3">
          <img src="https://images.ctfassets.net/4pxjo1vaz7xk/5THFvDhQQEJTXq5zpPY4Tw/7fda2a914bbbcc851ffbed593e6e5575/snippet-status-ca-en-1x1.jpg?w=3840&q=75" class="w-100 rounded-5" alt="">
        </div>
        <h3 class="fs-5 text-body-emphasis">Every two weeks</h3>
        <p>We will automatically charge your card every two weeks for the remaining three payments. We'll send you an alert ahead of time.</p>
      </div>      
    </div>
  </div>