
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-black cont mb-5">
  <div class="container my-5 p-5 mt-10 mb-5 emm">
    <div class="p-5 text-center p-3 mb-5 rounded-3 btn-outline-warning shadow-lg" style="backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="160"
        height="160"
        fill="currentColor"
        class="bi bi-mortarboard-fill sticky-top emm-content mb-4 "
        viewBox="0 0 16 16"
      >
        <path
          d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"
        />
        <path
          d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"
        />
      </svg>
      <h1 class="cedarville-cursive-regular fs-1 mt-5 emm-content">Sophomore Year</h1>
      <p class="col-lg-8 mx-auto fs-4 emm-content text-dark" >
        I'm a <code class="text-emphasis">Computer Science</code> Student Currently Pursuing My Education at Wilfrid Laurier University

      </p>
<!-- 
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 justify-content-center">
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection"></use>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>
            Paragraph of text beneath the heading to explain the heading. We'll
            add onto it with another sentence and probably just keep going until
            we run out of words.
          </p>
          <a href="#" class="icon-link">
            Call to action
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#people-circle"></use>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>
            Paragraph of text beneath the heading to explain the heading. We'll
            add onto it with another sentence and probably just keep going until
            we run out of words.
          </p>
          <a href="#" class="icon-link">
            Call to action
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>


<style>
  .emm,.emm-content{
   transition: 1s;
   /* background:
    radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
    radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000); */

  }

  .emm:hover:hover{
    transform: scale(.97);
  }

  .emm:hover:hover .emm-content{
    transform: scale(1.1);
  }


</style>

{% include 'components/navbar.html'%}


