<div class="background1"></div>
<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>

<style>
  .footer-container {
    position: relative;
    overflow: hidden;
  }
  .background1 {
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: #193171;
    z-index: -2;
    margin-left: -20%;
  }

  .wave {
    position: absolute;
    width: 180%;
    height: 200%;
    opacity: 0.25;
    z-index: -1;
    margin-left: 0%;
    margin-top: 20%;
    background: linear-gradient(744deg, #acbea3, #826754 60%, #ad5d4e);
    border-radius: 40%;
    animation: wave 15s infinite linear;
  }

  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }

  .wave:nth-child(2) {
    animation-duration: 20s;
    opacity: 0.35;
  }

  .wave:nth-child(3) {
    animation-duration: 10s;
  }

  .wave:nth-child(4) {
    top: 310px;
    animation-duration: 25s;
    opacity: 0.5;
  }
  @keyframes wave {
    0% {
      transform: rotate(0deg);
      scale: 1;
    }
    100% {
      transform: rotate(360deg);
      scale: 1;
    }
  }
</style>
